name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [ main ] # Trigger on pushes to the 'main' branch

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - id: deployment
        uses: sphinx-notes/pages@v3 # Use a GitHub Action for Sphinx deployment